In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as  pd 
df = pd.read_csv("/content/drive/My Drive/developer_survey_2019/survey_results_public.csv")

In [3]:
df.head()

   Respondent  ...                  SurveyEase
0           1  ...  Neither easy nor difficult
1           2  ...  Neither easy nor difficult
2           3  ...  Neither easy nor difficult
3           4  ...                        Easy
4           5  ...                        Easy

[5 rows x 85 columns]

In [4]:
df.shape

(88883, 85)

In [5]:
from tqdm import tqdm
first_15_col_excl_yearcode = [ 'MainBranch'	,'Hobbyist',	'OpenSourcer',	'OpenSource',	'Employment',	'Country' ,
                'Student'	,'EdLevel',	'UndergradMajor',	'EduOther',	'OrgSize',		'CareerSat']
for i in tqdm(first_15_col_excl_yearcode):
  print('Converting '+i +'\n')
  df[i].replace(to_replace = list(df[i].unique()), value = range(1,len(list(df[i].unique()))+1) , inplace = True)
  print(df[i].unique())

 17%|█▋        | 2/12 [00:00<00:00, 10.73it/s]

Converting MainBranch

[1 2 3 4 5 6]
Converting Hobbyist

[1 2]
Converting OpenSourcer

 33%|███▎      | 4/12 [00:00<00:00, 10.93it/s]

[1 2 3 4]
Converting OpenSource

[1 2 3 4]
Converting Employment

[1 2 3 4 5 6 7]
Converting Country

 67%|██████▋   | 8/12 [00:01<00:00,  8.28it/s]

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180]
Converting Student

[1 2 3 4]
Converting EdLevel

[ 1  2  3  4  5  6  7  8  9 10]
Converting UndergradMajor

 75%|███████▌  | 9/12 [00:01<00:00,  8.65it/s]

[ 1  2  3  4  5  6  7  8  9 10 11 12 13]
Converting EduOther

 92%|█████████▏| 11/12 [00:02<00:00,  3.14it/s]

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216
 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234
 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252
 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270
 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288
 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306
 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324
 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342
 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360
 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378
 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396
 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414
 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432
 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450
 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468
 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486
 487 488 489 490 491 492 493]
Converting OrgSize

[ 1  2  3  4  5  6  7  8  9 10]
Converting CareerSat

100%|██████████| 12/12 [00:02<00:00,  5.00it/s]

[1 2 3 4 5 6]

In [6]:
from tqdm import tqdm
first_15_col_excl_yearcode = ['WorkPlan',	'WorkChallenge',	'WorkRemote',	'WorkLoc',	'ImpSyn' ,
                'CodeRev'	,'UnitTests',	'PurchaseHow',	'PurchaseWhat']
for i in tqdm(first_15_col_excl_yearcode):
  print('Converting '+i +'\n')
  
  df[i].replace(to_replace = list(df[i].unique()), value = range(1,len(list(df[i].unique()))+1) , inplace = True)
  print(df[i].unique())

  0%|          | 0/9 [00:00<?, ?it/s]

Converting WorkPlan

[1 2 3 4]
Converting WorkChallenge

 44%|████▍     | 4/9 [00:00<00:00,  6.01it/s]

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130]
Converting WorkRemote

[1 2 3 4 5 6 7 8]
Converting WorkLoc

[1 2 3 4]
Converting ImpSyn

 67%|██████▋   | 6/9 [00:00<00:00,  7.13it/s]

[1 2 3 4 5 6]
Converting CodeRev

[1 2 3 4]
Converting UnitTests

[1 2 3 4 5]
Converting PurchaseHow

100%|██████████| 9/9 [00:00<00:00,  9.18it/s]

[1 2 3 4 5]
Converting PurchaseWhat

[1 2 3 4]

In [7]:
from tqdm import tqdm
first_15_col_excl_yearcode = ['OpSys'	,'BlockchainOrg',	'BlockchainIs',	'ITperson']
for i in tqdm(first_15_col_excl_yearcode):
  print('Converting '+i +'\n')
  
  df[i].replace(to_replace = list(df[i].unique()), value = range(1,len(list(df[i].unique()))+1) , inplace = True)
  print(df[i].unique())

  0%|          | 0/4 [00:00<?, ?it/s]

Converting OpSys

[1 2 3 4 5]
Converting BlockchainOrg

 50%|█████     | 2/4 [00:00<00:00, 11.85it/s]

[1 2 3 4 5 6]
Converting BlockchainIs

100%|██████████| 4/4 [00:00<00:00, 12.22it/s]

[1 2 3 4 5 6]
Converting ITperson

[1 2 3 4 5]

In [8]:
from tqdm import tqdm
last_15_col_excl_yearcode = ['OffOn','SocialMedia',	'SOFindAnswer',	'SOVisitFreq','SOTimeSaved' ,
                'SOHowMuchTime'	,'SOAccount',	'SOPartFreq',	'SOJobs',	'WelcomeChange',	'SONewContent',	'Gender','Trans','Sexuality','Dependents']
for i in tqdm(last_15_col_excl_yearcode):
  print('Converting '+i)
  
  df[i].replace(to_replace = list(df[i].unique()), value = range(1,len(list(df[i].unique()))+1) , inplace = True)
  print(df[i].unique())

  0%|          | 0/15 [00:00<?, ?it/s]

Converting OffOn
[1 2 3 4]
Converting SocialMedia

 13%|█▎        | 2/15 [00:00<00:01, 11.81it/s]

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]
Converting SOFindAnswer
[1 2 3 4 5 6]
Converting SOVisitFreq

 27%|██▋       | 4/15 [00:00<00:00, 12.13it/s]

[1 2 3 4 5 6 7]
Converting SOTimeSaved
[1 2 3 4 5 6]
Converting SOHowMuchTime

 40%|████      | 6/15 [00:00<00:00, 12.52it/s]

[1 2 3 4 5]
Converting SOAccount
[1 2 3 4]
Converting SOPartFreq

 53%|█████▎    | 8/15 [00:00<00:00, 12.65it/s]

[1 2 3 4 5 6 7]
Converting SOJobs
[1 2 3 4]
Converting WelcomeChange

 67%|██████▋   | 10/15 [00:00<00:00, 12.93it/s]

[1 2 3 4 5 6 7]
Converting SONewContent
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]
Converting Gender

 80%|████████  | 12/15 [00:00<00:00, 12.58it/s]

[1 2 3 4 5 6 7 8]
Converting Trans
[1 2 3]
Converting Sexuality

 93%|█████████▎| 14/15 [00:01<00:00, 12.46it/s]

[1 2 3 4 5 6 7 8]
Converting Dependents

100%|██████████| 15/15 [00:01<00:00, 12.77it/s]

[1 2 3]

In [9]:
from tqdm import tqdm
last_15_col_excl_yearcode = ['JobSat','MgrIdiot','MgrMoney','MgrWant','JobSeek','LastHireDate','JobFactors','CurrencySymbol']
for i in tqdm(last_15_col_excl_yearcode):
  print( 'Converting '+ i )
  
  df[i].replace(to_replace = list(df[i].unique()), value = range(1,len(list(df[i].unique()))+1) , inplace = True)
  print(df[i].unique())

  0%|          | 0/8 [00:00<?, ?it/s]

Converting JobSat
[1 2 3 4 5 6]
Converting MgrIdiot

 25%|██▌       | 2/8 [00:00<00:00, 12.25it/s]

[1 2 3 4 5]
Converting MgrMoney
[1 2 3 4]
Converting MgrWant

 50%|█████     | 4/8 [00:00<00:00, 12.59it/s]

[1 2 3 4 5]
Converting JobSeek
[1 2 3 4]
Converting LastHireDate

 75%|███████▌  | 6/8 [00:00<00:00, 12.56it/s]

[1 2 3 4 5 6 7]
Converting JobFactors

 88%|████████▊ | 7/8 [00:00<00:00,  5.76it/s]

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176]
Converting CurrencySymbol

100%|██████████| 8/8 [00:01<00:00,  6.12it/s]

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144]

In [10]:
df = df.drop(axis=1,columns=["Respondent", "Age1stCode", "FizzBuzz", "ResumeUpdate", "BetterLife", "ScreenName", "SOVisit1st",
                             "EntTeams","SOComm","Extraversion","SurveyLength","SurveyEase","LastInt",'CurrencyDesc',
                             "Ethnicity", "DevEnviron", "LanguageDesireNextYear","DatabaseDesireNextYear","PlatformDesireNextYear",
                             "WebFrameDesireNextYear","MiscTechDesireNextYear","SOVisitTo", "WelcomeChange",
                             "CurrencySymbol","CompTotal","CompFreq" ])
'''Dropped non - useful columns '''

'Dropped non - useful columns '

In [11]:
df.head()

   MainBranch  Hobbyist  OpenSourcer  ...  Trans  Sexuality  Dependents
0           1         1            1  ...      1          1           1
1           1         2            2  ...      1          1           1
2           2         1            1  ...      1          1           2
3           3         2            1  ...      1          1           1
4           3         1            3  ...      1          1           1

[5 rows x 59 columns]

In [12]:
df.shape

(88883, 59)

In [13]:
def Convert_YearsCodePro_and_YearsCode ( df ):
    df["YearsCode"].replace(to_replace = ['Less than 1 year', 'More than 50 years'],
                            value = [1,50] , inplace = True) 
    df["YearsCode"].fillna(value= '-1', inplace = True )
    df["YearsCode"] = df["YearsCode"].apply(pd.to_numeric) 
    df["YearsCodePro"].replace(to_replace = ['Less than 1 year', 'More than 50 years'],
                            value = [1,50] , inplace = True) 
    df["YearsCodePro"].fillna(value= '-1', inplace = True )
    df["YearsCodePro"] = df["YearsCodePro"].apply(pd.to_numeric) 
    return df
Convert_YearsCodePro_and_YearsCode(df)

       MainBranch  Hobbyist  OpenSourcer  ...  Trans  Sexuality  Dependents
0               1         1            1  ...      1          1           1
1               1         2            2  ...      1          1           1
2               2         1            1  ...      1          1           2
3               3         2            1  ...      1          1           1
4               3         1            3  ...      1          1           1
...           ...       ...          ...  ...    ...        ...         ...
88878           6         1            4  ...      1          3           1
88879           6         2            1  ...      2          3           3
88880           6         2            1  ...      2          3           3
88881           6         2            1  ...      2          3           3
88882           6         1            2  ...      1          1           1

[88883 rows x 59 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88883 entries, 0 to 88882
Data columns (total 59 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   MainBranch          88883 non-null  int64
 1   Hobbyist            88883 non-null  int64
 2   OpenSourcer         88883 non-null  int64
 3   OpenSource          88883 non-null  int64
 4   Employment          88883 non-null  int64
 5   Country             88883 non-null  int64
 6   Student             88883 non-null  int64
 7   EdLevel             88883 non-null  int64
 8   UndergradMajor      88883 non-null  int64
 9   EduOther            88883 non-null  int64
 10  OrgSize             88883 non-null  int64
 11  DevType             81335 non-null  object
 12  YearsCode           88883 non-null  int64
 13  YearsCodePro        88883 non-null  int64
 14  CareerSat           88883 non-null  int64
 15  JobSat              88883 non-null  int64
 16  MgrIdiot            88883 non-null  int64
 17  MgrMoney            88883 non-null  int64
 18  MgrWant             88883 non-null  int64
 19  JobSeek             88883 non-null  int64
 20  LastHireDate        88883 non-null  int64
 21  JobFactors          88883 non-null  int64
 22  ConvertedComp       55823 non-null  float64
 23  WorkWeekHrs         64503 non-null  float64
 24  WorkPlan            88883 non-null  int64
 25  WorkChallenge       88883 non-null  int64
 26  WorkRemote          88883 non-null  int64
 27  WorkLoc             88883 non-null  int64
 28  ImpSyn              88883 non-null  int64
 29  CodeRev             88883 non-null  int64
 30  CodeRevHrs          49790 non-null  float64
 31  UnitTests           88883 non-null  int64
 32  PurchaseHow         88883 non-null  int64
 33  PurchaseWhat        88883 non-null  int64
 34  LanguageWorkedWith  87569 non-null  object
 35  DatabaseWorkedWith  76026 non-null  object
 36  PlatformWorkedWith  80714 non-null  object
 37  WebFrameWorkedWith  65022 non-null  object
 38  MiscTechWorkedWith  59586 non-null  object
 39  OpSys               88883 non-null  int64
 40  Containers          85366 non-null  object
 41  BlockchainOrg       88883 non-null  int64
 42  BlockchainIs        88883 non-null  int64
 43  ITperson            88883 non-null  int64
 44  OffOn               88883 non-null  int64
 45  SocialMedia         88883 non-null  int64
 46  SOVisitFreq         88883 non-null  int64
 47  SOFindAnswer        88883 non-null  int64
 48  SOTimeSaved         88883 non-null  int64
 49  SOHowMuchTime       88883 non-null  int64
 50  SOAccount           88883 non-null  int64
 51  SOPartFreq          88883 non-null  int64
 52  SOJobs              88883 non-null  int64
 53  SONewContent        88883 non-null  int64
 54  Age                 79210 non-null  float64
 55  Gender              88883 non-null  int64
 56  Trans               88883 non-null  int64
 57  Sexuality           88883 non-null  int64
 58  Dependents          88883 non-null  int64
dtypes: float64(4), int64(48), object(7)
memory usage: 40.0+ MB